.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 36px;
}

h6 {
  font-size: 20px;
}

.clear-btn {
  width: 150px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
